{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{%block styles%}
    {{ super() }}
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="container">
    <div class="row">
        <h3>{{disease.name}}</h3>
        <hr>
        <p>{{disease.symptoms}}</p>
        <span>
        <p>Posted on {{disease.date_posted.strftime('%Y-%m-%d')}}</p>
        {% if current_user.is_authenticated and current_user.role_id == 1%}
            <a href="{{url_for('main.delete_disease',id = disease.id)}}" class="btn btn-danger btn-sm" >Delete post</a>
            <a href="/disease/update/{{disease.id}}" class="btn btn-info btn-sm">Update disease</a>
        {%endif%}
    </div>
</div>
{%endblock%}