
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome </title>
        {% endif %}
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}

        <!-- Styles block -->

        
    </head>
        
    <body>
        {%block content%}
        <div class="jumbotron text-center" style="background-color:teal; color: #fff; padding: 55px 25px; font-family: Times New Roman, Times, serif;">
                <h1> CROPS DISEASES APPLICATION</h1>

                
        </div>
        
        </div>
        <div class="container" style= "font-family: 'Cormorant Upright', serif;">
                <h1></h1>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8wDRuC-I2GIqvdR56GvzOE4BYwrNyJQjoN8XRJ_IwzzWy3mZU-A" width="400px">
                <p style="font-size: 24px; margin-left: 400px; position: relative; right: -50px; top: -150px;"><strong>Crop diseases or Plant diseases are a significant yield and quality constraint for growers of broadacre crops in Western Australia. Plant pathogens can be fungal, bacterial, viral or nematodes and can damage plant parts above or below the ground.</strong></p>
                
                
        </div>
        {%endblock%}
    </body>
</html>