<div class="navbar navbar-inverse" role="navigation"style="background-color:;">
    <div class="container-fluid">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" class="navbar-brand"><strong>Home</strong></a></li>
                <li><a href="{{url_for('main.all_diseases')}}"> <strong>All Diseases</strong></a></li>
                <li><a href="{{url_for('main.all_symptoms')}}"> <strong>All Symptoms</strong></a></li>
                <li><a href="{{url_for('main.subscribe')}}" ><strong>Subscribe</strong></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
               
                {% if current_user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if current_user.role_id == 1 %}
                        <li><a href="{{url_for('main.new_disease')}}"><strong>Add Diseases</strong></a></li>
                        <li role="separator" class="divider"></li>
                        
                        <li><a href="{{url_for('auth.logout')}}"><strong>Sign out</strong></a></li>
                        {%else%}
                        <li><a href="{{url_for('auth.logout')}}"><strong>Sign out</strong></a></li>
                        {%endif%}

                    </ul>
                </li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}"><strong>Sign in</strong></a></li>
               
                <li><a href="{{url_for('main.new_symptom')}}" ><strong>Add Symptoms</strong></a></li>
                
                        
            </ul>
            {%endif%}
        </div>
</div>
</div>