{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}

{%block styles%}
    {{ super() }}
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="container" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRoQollmrM1TZ0UkxnPTXfzelvzZIbQtXTOqjtaM-v6J2gvAKN'); background-repeat: no-repeat; background-size: cover;">
    <div class="row" >
        <h3>{{symptom.name}}</h3>
        <hr>
        <p>{{symptom.symptoms}}</p>
        <span>
        <p>Posted on {{symptom.date_posted.strftime('%Y-%m-%d')}}</p>
        {% if current_user.is_authenticated and current_user.role_id == 1%}
            <a href="{{url_for('main.delete_disease',id = symptom.id)}}" class="btn btn-danger btn-sm" >Delete post</a>
            <a href="/disease/update/{{symptom.id}}" class="btn btn-info btn-sm">Update disease</a>
        {%endif%}
    </div>
    <div class="row">
        <h4>Comments</h4>
        <hr>

      
        {{ wtf.quick_form(form) }}
        {%for comment in comments%}
            <div class="col-md-12">
                <h5>{{comment.username}}</h5>
                <p>{{comment.comment}}</p>
               
                    <a href="{{url_for('main.delete_comment',comment_id=username,id = comment.id,disease_id = comment.disease)}}" class="btn btn-danger ">Delete comment</a>
                   
              
            </div>
        {%endfor%}
    </div>
</div>
{%endblock%}